.login{
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;
    width: 90%;
    margin: 0 auto;
}
.logininner{
    width: 60%;
    background-color: orange;
}
.loginimg{
    text-align: center;
    width: 100%;
    padding:8% 0 3% 0;
}
.loginimg img{
    width: 20%;
}
.loginform{
    width: 60%;
    margin: 0 auto 5% auto;
    background-color: white;
}
.loginper{
    padding: 2%;
}
.loginflex{
    display: flex;
    background-color: #ececec;
}
.loginuser{
    width: 40px;
    height: 40px;
}
.loginuser img{
    width: 40px;
    height: 40px;
}
.logintext{
    border: none;
    width: 100%;
    height: 40px;
    text-indent: 3%;
    background: none;
}
.loginper button{
    background-color: gold;
    width: 100%;
    height: 40px;
    border: none;
}
.loginper{
    text-align: center;
}
.loginper p{
    font-size: 12px;
}
.loginintro{
    width: 40%;
    text-align: right;
}
.loginintro h5{
    margin-top: 10%;
}
@media screen and (max-width: 900px) {
    .loginimg{
        width: 100%;
    }
    .logininner{
        width: 90%;
        padding: 2% 5%;
    }
    .loginintro{
        width: 90%;
        padding: 2% 5%;
    }
}